<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="js/vue.js"></script>

    <style>


    </style>

</head>
<body>
    <div id="example">

        品牌:
        <select name="info" id="info" @change="selectChange">

            <option  v-for="(item,key) in list" :value="key">{{item.cate}}</option>
        </select>


       

       车系: 
       <select name="info2" id="info2">
            
            <option  v-for="item in list2" :value="item.title">{{item.title}}</option>
        </select>



        
    </div>
        
    </div>
</body>
</html>

<script>
//    可以在表单的input 元素上使用v-model 指令来创建双向数据绑定。它会根据input元素的类型自动选取正确的绑定模式。

window.onload=function(){
    //在这里面写Vue.js代码
    new Vue({
        el: '#example',
        data: {
            selected: 'C',
            suboptions:[],
            list:[
            {
                   "cate":'宝马',

                    list:[
                            {"title":'宝马x1'},
                            {"title":'宝马x2'},
                            {"title":'宝马x3'}
                    ]


            },
            {   
                  "cate":'奔驰',

                    list:[
                            {"title":'奔驰x1'},
                            {"title":'奔驰x2'},
                            {"title":'奔驰x3'}
                    ]
            }
            
        ],
        list2:[] /*车系*/

        },methods:{

             selectChange(e){

                    var value=e.srcElement.value;

                    console.log(value);
                    console.log(this.list)

                    this.list2=this.list[value].list;  /*给车系赋值*/


             }
            
        },
        mounted(){

            this.list2=this.list[0].list;
        }
    })


}



</script>